@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG0xFz0e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG089z0e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG05Fz0e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG06Nz0e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG00900e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG03Z00e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG0xF00e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG0zh00e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFlOkHkw.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFmQkHkw.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkHkw.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFn8kHkw.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFkQl3kw.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFkpl3kw.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFlOl3kw.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFlnl3kw.ttf) format('truetype');
}
